@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); /* <- Aggiungi questa riga! */

@theme {
  --color-brand: #4F46E5;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}